@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 31% 6%;
    --card: 0 0% 100%;
    --card-foreground: 216 31% 6%;
    --popover: 0 0% 100%;
    --popover-foreground: 216 31% 6%;
    --primary: 217 92% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 214 32% 96%;
    --secondary-foreground: 216 31% 6%;
    --muted: 214 32% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 258 90% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 217 92% 60%;
    --radius: 0.5rem;
    --chart-1: 217 92% 60%;
    --chart-2: 258 90% 66%;
    --chart-3: 216 31% 17%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
  }
  .dark {
    --background: 216 31% 6%;
    --foreground: 210 40% 98%;
    --card: 216 28% 9%;
    --card-foreground: 210 40% 98%;
    --popover: 216 28% 9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 92% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 258 90% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 26% 17%;
    --input: 217 26% 17%;
    --ring: 217 92% 60%;
    --chart-1: 217 92% 60%;
    --chart-2: 258 90% 66%;
    --chart-3: 210 40% 70%;
    --chart-4: 173 58% 39%;
    --chart-5: 43 74% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
